#container {
  display: flex;
  border: 2px solid black;
  padding: 5px;
  /* flex-wrap: wrap; */
  gap: 10px;
  /* flex-direction: column; */
  justify-content: center; /*Main-axis*/
  align-items: start; /*Cross-axis*/
  min-height: 90vh;
}

.items {
  border: 2px solid gray;
  /* flex-grow: 1; */
  height: 100px;
}

#item-2{
    flex-basis: 400px;
    /* flex-grow: 1; */
    flex-shrink: 4;
}

#item-4{
    flex-basis: 210px;
    /* flex-grow: 2; */
    flex-shrink: 1;
}

#item-5{
    flex-basis: 300px;
    /* flex-grow: 1; */
    flex-shrink: 2;
}


/* Read flex shorthand HW */